{{> header }}

   {{> navbar }}
<div class="container">

       <p> Temperatura del mundo </p>


<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Quito</th>
      <th scope="col">Guayaquil</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Temperatura Quito</th>
      <td>Temperatura Guayaquil      </td>
    </tr>
  </tbody>
</table>
</div>


{{> footer }}
   